.container {
    margin: auto;
    padding: 30px;
}
.title {
    margin: auto;
    margin-bottom: 50px;
    align-self: center;
}
.bodyContainer{
    padding-top: 50px;
    text-align: center;
    margin: 1em;
}
.button{
    margin-top: 25px;
}