.form_container {
    max-width: 600px !important;
    margin: auto;
    padding: 30px;
}

.form_button {
    margin: auto;
    margin-top: 40px;
}
.title {
    padding-top: 50px;
    margin-bottom: 20px;
}
.subtitle {
    margin-bottom: 30px;
}